@font-face {
	font-family: 'Sickness';
	src: url('../fonts/sickness.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/sickness.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/sickness.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/sickness.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/sickness.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/sickness.svg#sickness') format('svg'); /* Chrome < 4, Legacy iOS */
}